<header class="header-container">
    <div class="header">
        <div class="logo-container" routerLink="/ads">
            <img [src]='logo' class="logo" >
        </div>
        <div class="header-buttons">
            <ng-container *ngIf="loggedIn">
                <button class="add-new-button" routerLink="create">+ Add new ad</button>
                <div class="cabinet-button" (click)="openCabinet = true">M</div>    
            </ng-container>
            <ng-container *ngIf="!loggedIn">
                <button class="add-new-button" (click)="changeAuthHidding.emit(true)">+ Add new ad</button>
                <button class="sign-in-button" (click)="changeAuthHidding.emit(true)">Sign in</button>
            </ng-container>
        </div>
    </div>
</header>
<app-cabinete *ngIf="openCabinet" (closeCabinetFunc)="openCabinet= false"></app-cabinete>
