<footer class="footer-container">
    <div class="footer">
        <div class="contact-container">
            <p>You can contact us</p>
            <p><strong>+375292626262</strong></p>
        </div>
        <div class="social-wrapper">
            <div>Our socials</div>
            <div class="social-container">
                <a href="http://www.facebook.com" target="_blank" class="social facebook"></a>
                <a href="http://www.instagram.com" target="_blank" class="social instagram" ></a>
                <a href="http://www.telegram.org" target="_blank" class="social telegram" ></a>
                <a href="http://www.vk.com" target="_blank" class="social vk" ></a>
            </div>
        </div>
    </div> 
</footer>