.chosen-ad-container {
    position: relative;

    width: 75vw;
    min-height: 84vh;
    padding: 5vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.chosen-ad-pic {
    min-width: max(75vw, 400px);
    min-height: max(60vh, 250px);
    /* background-color: crimson; */
    border-radius: 30px;
}

.chosen-ad-title {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
}

.chosen-ad-price {
    
    padding: 10px;
    border-radius: 10px;
    color: rgb(11, 224, 4);
    font-size: 1.6rem;
}

.chosen-ad-date {
    position: absolute;
    top: 12vh;
    right: 3vw;
    background-color: rgba(255, 255, 255, .3);
    padding: 10px;
    font-size: 1.2rem;

    border-radius: 10px;

}

.chosen-ad-description {
    width: 60vw;
    margin-top: 20px;
}