.chosen-ad-container {
    width: 75vw;
    min-height: 84vh;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.pic-date-container {
    position: relative;
}

.ad-picture {
    width: max(60vw, 400px);
    min-height: auto;
    border-radius: 30px;
}

.chosen-ad-title {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
}

.chosen-ad-price {
    padding: 10px;
    border-radius: 10px;
    color: rgb(11, 224, 4);
    font-size: 1.6rem;
}

.chosen-ad-date {
    position: absolute;
    top: 3vh;
    right: 3vw;
    background-color: rgba(255, 255, 255, .6);
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.chosen-ad-description {
    text-align: left;
    width: 60vw;
    margin-top: 20px;
}
