<div class="table-moderation-container">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>City</th>
                <th>Date</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-edit" *ngFor="let ad of ads; trackBy: trackByFn">
                <td>{{ad.title}}</td>
                <td>{{ad.location}}</td>
                <td>{{ad.date}}</td>
                <td>{{ad.price}} $</td>
                <td><button [routerLink]="['/admin/edit', ad.id]" (click)="chosenAdToEdit(ad)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>
