.ads-container {
    display: grid;
    -ms-grid-row-align: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    object-fit: cover;
    width: 75vw;
}

.ad {
    align-self: center;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    transition: all .3s;
    margin: 20px 0;
}

.ad:hover {
    box-shadow: 5px 10px 20px rgba(50, 56, 173, 0.25), 0 10px 10px rgba(50, 56, 173, 0.22);
}

.ad-picture {
    margin-top: 10px;
    height: 180px;
    width: 270px;
}

/* .ad-date {

} */

.ad-information {
    height: 80px;
}

.ad-title {
    height: 30px;
}

.ad-cost {
    height: 30px;
}   

.ad-location {
    height: 30px;
}
