.app-wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
  min-height: 84vh;
}
