.admin-wrapper {
    margin: 2vh 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;    
}


.admin-nav-btn{
    padding: 5px 10px;
    border: 2px solid black;
    text-decoration: none;
    transition: all .2s;
    margin: 0 -1px;
    cursor: pointer;
    font-size: max(1vw, 15px);

}

.admin-nav-btn:hover {
    background-color: rgb(166, 192, 240);
}

.admin-nav-btn-active {
    background-color: cornflowerblue;
}

nav {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px;
    border-collapse: collapse;
}
