<div class="admin-wrapper">
    <div class="admin-container">
        <nav>
            <div class="admin-nav-btn" routerLink="/admin/moderation" routerLinkActive="admin-nav-btn-active">Moderation</div>
            <div class="admin-nav-btn" routerLink="/admin/edit" routerLinkActive="admin-nav-btn-active">Edit</div>
            <div class="admin-nav-btn" routerLink="/admin/admin_chat" routerLinkActive="admin-nav-btn-active">Chat</div>
        </nav>
        <div class="">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
