.admin-wrapper {
    margin: 2vh 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;    
}

.admin-container {
    width: min(1440px, 100vw);
}

a {
    padding: 5px 10px;
    background-color: cornflowerblue;

    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 30px;
}
