.table-moderation-container {
    display: flex;
    justify-content: center;
    width: min(1440px, 90vw);
    font-size: max(1vw, 10px);
}

table {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width: min(1440px, 90vw);
    overflow-x: auto;
}

thead {
    font-weight: bold;
}

tr {
    border-bottom: 1px solid rgb(153, 153, 153) ;
}

th, td {
    min-width: 14.05vw;
    padding: 5px;
}

th {
    border-bottom: 3px solid rgb(0, 0, 0);

}

button {
    font-size: max(1vw, 12px);
}
