<div class="sign" >
    <h1>Sign up</h1>
    <p>or you can <span class="change-sign" (click)="changeSignUpOnSignInForm($event)">Sign in</span></p>
    <form [formGroup]="signup">
        <div class="input-container">
            <label for="firstname" >First name</label>
            <input id="firstname" formControlName="firstName" type="text" required>
        </div>
        <br *ngIf="signup.get('firstName')!.valid || signup.get('firstName')!.untouched">
        <div *ngIf="signup.get('firstName')!.invalid && signup.get('firstName')!.touched" class="danger">
            Enter your first name
        </div>
        <div class="input-container">
            <label for="lastname">Last name</label>
            <input id="lastname" formControlName="lastName"  type="text" required>
        </div>
        <br *ngIf="signup.get('lastName')!.valid || signup.get('lastName')!.untouched" >
        <div *ngIf="signup.get('lastName')!.invalid && signup.get('lastName')!.touched" class="danger">
            Enter your last name 
        </div>
        <div class="input-container">
            <label for="email">Email</label>
            <input id="email" formControlName="email" type="text" required>
        </div>
        <br *ngIf="signup.get('email')!.valid || signup.get('email')!.untouched">
        <div *ngIf="signup.get('email')!.invalid && signup.get('email')!.touched" class="danger">
            <div>Incorrect email</div>
        </div>
        <div class="input-container">
            <label for="phone">Phone number</label>
            <input id="phone" formControlName="phone" type="text" required>
        </div>
        <br *ngIf="signup.get('phone')!.valid || signup.get('phone')!.untouched">
        <div *ngIf="signup.get('phone')!.invalid && signup.get('phone')!.touched" class="danger">
            <div>Incorrect number</div>
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" required>
        </div>
        <br *ngIf="signup.get('password')!.valid || signup.get('password')!.untouched">
        <div *ngIf="signup.get('password')!.invalid && signup.get('password')!.touched" class="danger">
            <div>Minimum password length - 8</div>
        </div>
        <button class="sign-up-button" (click)="changeAuthFunc($event)">Sign up</button>
    </form>
</div>
