<div class="sign" >
    <h1>Sign in</h1>
    <p>or you can <span class="change-sign" (click)="changeSignUpOnSignInForm($event)">Sign up</span></p>
    <form [formGroup]="signin">
        <div class="input-container">
            <label for="email">Email</label>
            <input id="email" formControlName="email" type="email" required>
        </div>
        <br *ngIf="isEmailCorrect() || this.signin.get('email')!.untouched">
        <div *ngIf="!isEmailCorrect() && this.signin.get('email')!.touched" class="danger">
            Input email
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" required>
        </div>
        <br *ngIf="isPasswordCorrect() || this.signin.get('password')!.untouched">
        <div *ngIf="!isPasswordCorrect() && this.signin.get('password')!.touched" class="danger">
            Password length must be 8 or more {{this.signin.get('password')!.value}}
        </div>
        <button class="sign-in-button" (click)="changeAuthFunc($event)">Sign in</button>
        <p>or</p>
        <div class="google-in another-in" (click)="changeAuthFunc($event)">Join with Google</div>
        <div class="github-in another-in" (click)="changeAuthFunc($event)">Join with Github</div>
    </form>
</div>