.cabinet-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 200;
}

.cabinet-window {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 60px;
    right: 25%;
    box-shadow: 5px 10px 20px rgba(50, 56, 173, 0.25), 0 10px 10px rgba(50, 56, 173, 0.22);
    border-radius: 10px;
    width: 267px;
    background-color: #fff;
}

.cabinet-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
}

.cabinet-btn:hover {
    background-color: rgb(210, 224, 255);
}
