.chat-space {
    width: 55vw;
    min-width: 240px;
    height: 75vh;
    border: 1px solid rgb(170, 171, 189);
    background-color: rgb(196, 197, 216);
    margin: 5px;
    border-radius: 5px;
}

.chat-input-container {
    display: flex;
    justify-content: center;
    min-width: 240px;
    max-width: 58vw;
    min-height: 30px;
    margin: 0 5px;
}

label {
    font-size: .7rem;
}

input {
    padding: 7px 3px;
    width: 90%;
}
